.profile__edit-button{
  width: 24px;
  height: 24px;
  background: url('../../../images/edit.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: solid 1px white;
  margin-left: 18px;
  margin-top: 8px;
}

.profile__edit-button:hover{
  opacity: 0.6;
}

@media screen and ( max-width: 320px) {
  .profile__edit-button{
    margin-left: 10px;
    margin-bottom: 7px;
    width: 18px;
    height: 18px;
  }
}