.element__list{
	margin: 0 auto;
	max-width: 880px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
	column-gap: 16px;
	row-gap: 21px;
	padding: 0;
  list-style-type: none;
}