.element__delete{
	background: url(../../../images/delete.svg);
	background-repeat: no-repeat;
	width: 18px;
	height: 19px;
	border: none;
	position: absolute;
	z-index: 1;
	right: 20px;
	top: 20px;
	cursor: pointer;
}

.element__delete:hover{
  opacity: 0.5;
}