.popup__close-icon{
	position: absolute;
	background: url(../../../images/Close-Icon.svg);
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	width: 32px;
	height: 32px;
	top: -40px;
	right: -40px;
}

.popup__close-icon:hover{
	opacity: 0.6;
	/* transition: 0.35s; */
	cursor: pointer;
}

@media screen and (max-width: 600px){
	.popup__close-icon {
		width: 20px;
		height: 20px;
		background-size: 20px;
	}
}