@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
.project{
  background-color: #000;
  max-width: 880px;
  margin: 0 auto;
  width: 100%;
}

.page{
  max-width: 880px;
  margin: 0 auto;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  color: white;
}

.header{
  width: 100%;
  max-width: 880px;
  margin: 45px auto 0;

}

@media screen and ( max-width: 920px) {
  .header{
    max-width: 90%;
  }
}

@media screen and (max-width: 320px) {
  .header{
  max-width: 100%;
  margin: 0 auto;
  padding-top: 1px;
  padding-left: 1px;
  }
}

.header::after{
  content: "";
  max-width: 880px;
  opacity: 0.7;
  border: 1px solid #545454;
  display: block;
  margin-top: 37px ;
  margin-bottom: 40px;
}

@media screen and (max-width: 320px){
.header::after {
    max-width: 320px;
    margin-top: 26px;
    margin-bottom: 43px;
}
}
.header__logo{
  max-width: 142px;
  object-fit: cover;
}

@media screen and (max-width: 320px) {
  .header__logo{
    width: 104px;
    padding-top: 28px;
    padding-left: 25px;
  }
}

.profile{

  max-width: 880px;
  margin: 0 auto;
  display: flex;

  align-items: center;
  column-gap: 32px;
}

@media screen and ( max-width: 920px) {
  .profile{
    max-width: 90%;
  }
}

@media screen and (max-width: 670px) {
  .profile{
    flex-direction: column;
  }
  
}
.profile__avatar{
  border-radius: 200px;
  max-width: 120px;
}

.profile__name{
  font-style: normal;
font-weight: 500;
font-size: 42px;
line-height: 48px;
max-width: 294px;
margin: 0;
}

@media screen and (max-width: 670px) {
  .profile__name{
    font-size: 27px;
    line-height: 33px;
    margin-top: 22px;
  }
  
}

@media screen and (max-width: 320px) {
  .profile__name{
    margin-top: 27px;
    margin-left: 28px;
  }
  
}


.profile__info{
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* max-width: 727px; */
  width: 100%;
  max-height: 100%;
  /* padding-left: 32px; */
  justify-content: space-between;
  align-items: center;
}

@media screen and ( max-width: 670px) {
  .profile__info{
    flex-direction: column;
    
  }
}

.profile__inform{
  max-width: 384px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

@media screen and ( max-width: 670px) {
  .profile__inform{
    justify-content: center;
    align-items: end;
  }
}


.profile__edit-button{
  width: 24px;
    height: 24px;
    background: url('../images/edit.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: solid 1px white;
    margin-left: 23px;
    margin-top: 8px;
}
.profile__edit-button:hover{

  opacity: 0.6;
}


@media screen and ( max-width: 320px) {
  .profile__edit-button{
    margin-left: 13px;
    margin-bottom: 7px;
    width: 20px;
    height: 20px;
  }
}


.profile__description{
  margin: 0;
  margin-top: 9px;
  font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
}

@media screen and ( max-width: 670px) {
  .profile__description{
    margin-top: 6px;

font-size: 14px;
line-height: 17px;

  }
}

.profile__add-button{
  background: url(../images/krest.svg);
  border: solid 1px white;
  background-repeat: no-repeat;

  width: 150px;
  height: 50px;
  background-position: center;

}

@media screen and ( max-width: 670px) {
  .profile__add-button{
    width: 282px;
    margin: 34px auto;
  }
}

.profile__add-button:hover{

opacity: 0.6
}

.elements{
  margin: auto;
  margin-top: 50px;
}

@media screen and ( max-width: 920px) {
  .elements{
    max-width: 90%;
  }
}

@media screen and ( max-width: 670px) {
  .elements{
    margin-top: 0px;
    max-width: 90%;
  }
}



.element__list{
  margin: 0 auto;
  max-width: 880px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  column-gap: 16px;
  row-gap: 21px;
  padding: 0;
}


/* @media screen and (max-width: 1024px){
  .element__list{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
} */
.element__item{
  width: 282px;
  position: relative;
  border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
}

.element__delete{
  position: absolute;
  background: url('');
}
.element__image{
  object-fit: cover;
  background-size: cover;
  position: relative;
  
  margin-bottom: -4px;

}
 
.element__group{
 display: flex;
 margin: 0;
 justify-content: space-between;
 align-items: center;
 background-color: #FFFFFF;
 height: 79px;
 padding: 0 20px 0 20px;
 
}
.element__title{
  font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 29px;
  max-width: 198px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  color: 
  #000000;
}
.element__like{
  background: url(../images/like.svg);
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  border: none;

}

.element__like:hover{

opacity: 0.5;

}
.element__like:active{
  width: 22px;
  height: 19px;
  background: url(../images/like_active.svg);
  background-repeat: no-repeat;
  border: none;
  opacity: 1;
}


.footer{
  max-width: 880px;
}

@media screen and ( max-width: 920px) {
  .footer{
    max-width: 90%;
    margin: auto;
  }
}

.footer__copyright{
  font-family: "Inter", "Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: 67px auto 60px;
    display: flex;
    
}

@media screen and (max-width: 320px) {
  .footer__copyright{
    font-size: 14px;
    line-height: 17px;
    margin: 48px auto 36px;
  }
  
}
.popup{


}
.popup__opened{

}
.popup__container {

}

.popup__form {

}
.popup__toggle-image {

}

.popup__heading {
 
}
.popup__input {

}
.popup__item {

}

* { outline: 1px solid yellowgreen; }